
<div class="inputSearch">
  <input [(ngModel)]="inputSearch" type="text" (ngModelChange)="TemPokemon()" />
</div>

<div class="divPai">
  <div class="box" *ngIf="temPokemon; else notFound">
    <div
      *ngFor="
        let pokemon of pokemons
          | searchPipe : inputSearch
          | slice : (currentPage - 1) * pageSize : currentPage * pageSize
      "
      class="listPokemon"
      (click)="selecionaPokemon(pokemon)"
      >

      <app-pokemon class="appPokemon" [pokemon]="pokemon" ></app-pokemon>

    </div>
  </div>

</div>

<mat-paginator
  [length]="pokemonsFiltrados.length"
  [pageSize]="pageSize"
  (page)="onPageChange($event)"
  aria-label="Select page"
  *ngIf="paginar"
>
</mat-paginator>

<ng-template #notFound>
  <h2 style="color: red">Nenhum pokemon encontrado</h2>
</ng-template>
