

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 80%;
}

.listPokemon {
  width: 25%;
  margin: 0.7%;
}
.inputSearch{
  maw-width: 40px;
  max-height: 20px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

h2{
  text-align: center;
}
.divPai{
  min-height: 65%;
}
